{
  "openapi": "3.1.0",
  "info": {
    "title": "Freya Model APIs",
    "description": "Speech-to-Text and Text-to-Speech APIs powered by Freya.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://stt.freyavoice.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token issued by your workspace."
      }
    }
  },
  "paths": {
    "/v1/audio/transcriptions": {
      "post": {
        "operationId": "createTranscription",
        "summary": "Speech-to-Text",
        "description": "Converts an audio file into text using Freya's ASR model.",
        "servers": [
          { "url": "https://stt.freyavoice.ai" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The audio file to transcribe (wav, mp3, etc.)"
                  },
                  "model": {
                    "type": "string",
                    "default": "freya-stt",
                    "description": "The ASR model to use."
                  },
                  "language": {
                    "type": "string",
                    "default": "tr",
                    "description": "The language of the audio as an ISO 639-1 code."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Optional text to guide the model's style or provide context."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "The transcribed text."
                    }
                  }
                },
                "example": {
                  "text": "Merhaba, bu bir test konuşmasıdır."
                }
              }
            }
          },
          "400": {
            "description": "Bad request — missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "operationId": "createSpeech",
        "summary": "Text-to-Speech",
        "description": "Converts text into natural-sounding speech using Freya's TTS model. Returns a binary audio file. Supports the following emotion tags: [pause], [eee], [throat clearing], [mm-hmm], [laughter], [deep breath], [hmm], [cough], [breath]",
        "servers": [
          { "url": "https://tts.freyavoice.ai" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["input", "voice"],
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "The text to synthesize audio for."
                  },
                  "voice": {
                    "type": "string",
                    "default": "leyla",
                    "enum": ["leyla", "zeynep", "alev", "ali", "alper", "mustafa"],
                    "description": "The voice ID to use."
                  },
                  "response_format": {
                    "type": "string",
                    "default": "mp3",
                    "enum": ["mp3", "opus", "aac", "flac", "wav", "pcm"],
                    "description": "Response format for the API request."
                  },
                  "model": {
                    "type": "string",
                    "default": "tts-1",
                    "enum": ["tts-1", "tts-1-hd"],
                    "description": "Quality preset. `tts-1` is faster; `tts-1-hd` is higher quality."
                  }
                }
              },
              "example": {
                "model": "tts-1",
                "input": "Hello, testing Freya Voice API.",
                "voice": "leyla"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio file generated successfully.",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary WAV audio data."
                }
              }
            }
          },
          "400": {
            "description": "Bad request — missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
